// color............................

$gold-crayola: rgb(228, 197, 144);
$quick-silver: rgb(166, 166, 166);
$davys-grey: rgb(89, 87, 84);
$smoky-black-1: rgb(14, 13, 11);
$smoky-black-2: rgb(14, 13, 12);
$smoky-black-3: rgb(18, 17, 17);
$eerie-black-1: rgb(22, 23, 24);
$eerie-black-2: rgb(27, 28, 29);
$eerie-black-3: rgb(20, 21, 21);
$eerie-black-4: rgb(33, 33, 33);
$white: rgb(255, 255, 255);
$white-alpha-20: rgba(255, 255, 255, 0.2);
$white-alpha-10: rgba(255, 255, 255, 0.1);
$black: rgb(0, 0, 0);
$black-alpha-80: rgba(0, 0, 0, 0.8);
$black-alpha-15: rgba(0, 0, 0, 0.15);
$red :red;
$background-card : #0a0a0a;
$background : #1f1e1e;

    /**
   * GRADIENT COLOR
   */

$loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%, transparent 66.66% 75%);
$gradient-1: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7), transparent);

    /**
   * TYPOGRAPHY
   */

    /* font-family */
    $fontFamily-forum: 'Forum', cursive;
    $fontFamily-dm_sans: 'DM Sans', sans-serif;

    

/* All browser */

*,*::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $white;
    transition: 0.5s;
}

ul {
    list-style: none;
    text-transform: uppercase;
}

i {
    color: $white;
}


